*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/*NAV HEADER BEINGS HERE */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#_nav_header_section{
    height: 60px;
    width:100%;
    background-color: rgb(243, 234, 234);
}

#_nav_header_section .container{
    display: flex;
    align-items: center;
    height:inherit
}

#_nav_header_section .container .logoBlock{
    height: 60px;
    flex-basis:15%;
    background-color: rgb(29, 29, 69);
    display: flex;
    align-items: center;
    justify-content: center;
}

#_nav_header_section .container .menuBlock{
    flex-basis: 85%;
    /* background: #fff; */
    display: flex;
    align-items: center;
    padding: 5px 15px;

}
#_nav_header_section .container .menuBlock .left_top_block{
    flex-basis: 10%;
}


#_nav_header_section .container .menuBlock .right_top_menu_block{
    flex-basis: 90%;
    display: flex;
    justify-content: flex-end;
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:17px;
    list-style: none;
}
#_nav_header_section .container .menuBlock .right_top_menu_block ul img{
    height: 35px;
    width:35px;
    border-radius: 50%;
}
#_nav_header_section .container .menuBlock .right_top_menu_block ul li a span i{
    color:rgb(91, 90, 90);
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li .user{
    text-decoration: none;
    
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li .user span .name{
    color:rgb(79, 76, 76);
    font-size: 15px;
    font-weight: 600;
    
}
#_nav_header_section .container .menuBlock .right_top_menu_block ul li .user span .skill{
    color:rgb(140, 138, 138);
    font-size: 10px;
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li a .sup_block{
    position: relative;
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li a sup{
    position:absolute;
    top:-4px;
    left:15px;
    height: 15px;
    width: 15px;
    background-color: purple;;
    border-radius: 50%;
    text-align: center;
    color:white;
    font-size: 9px;
    font-weight: 800;
    padding-top: 3px;
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li a .bell{
    position:absolute;
    top:-4px;
    left:13px;
    background-color: rgb(9, 168, 168);
    animation: pulse_secondary 2s infinite;
}

/* #_nav_header_section .container .menuBlock .right_top_menu_block ul li a .bell{
    
} */

@keyframes pulse_secondary {
0% {
    box-shadow: 0 0 0 rgb(9, 168, 168) ;
}
70% {
    box-shadow: 0 0 10px rgb(6, 154, 154);
}
100% {
    box-shadow: 0 0 0 rgb(9, 168, 168);
}
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li a .setting{
    animation: spin 3s infinite linear;
}

@keyframes spin {
    0% {
        /* -webkit-transform: rotate(0); */
        transform: rotate(0);
    }
    100% {
        /* -webkit-transform: rotate(359deg); */
        transform: rotate(359deg);
    }
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li a i{
    text-decoration: none;
    padding:7px 7px; 
    position:relative;
    border-radius: 50%;
}
ul li a i:hover{
    background-color: #dbddde;
}

#_nav_header_section .container .menuBlock .right_top_menu_block ul li a img{
    height: 20px;
    width: 20px;
}

#_nav_header_section .container .menuBlock .right_top_menu_block .languages{
    height: 200px;
}









/*NAV HEADER ENDS HERE */
